html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Password container for the input and toggle icon */
.password-container {
  position: relative;
  width: 92.7%;
}

.password-input {
  width: 100%;
  padding-right: 40px; /* Add space for the icon */
}

.password-toggle {
  position: absolute;
  right: 0px;
  top: 35%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #555;
  z-index: 3; /* Ensure it's above the input */
}

.password-toggle:hover {
  color: #333; /* Darken the icon on hover */
}

/* Rest of your styles */

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 20px;
  position: relative;
}

.login-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.login-box {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.9);
  text-align: center;
  max-width: 350px;
  height: 450px;
  width: 100%;
  position: absolute;
  top: 24%;
  left: 36%;
  z-index: 2;
}

/* Position logo in the bottom-right corner */
.logo-link {
  position: absolute;
  bottom: 20px;
  left: 200px;
  z-index: 3;
}

.company-logo {
  width: 50px; /* Adjust the size of the logo as needed */
  height: auto;
  cursor: pointer;
}

.company-logo:hover {
  transform: scale(1.1); /* Optional: Add a hover effect */
}
 
.logo-link img {
  width: 140px; /* Set a reasonable width for the logo */
  height: auto; /* Maintain aspect ratio */
  cursor: pointer;
  position: absolute;
  bottom: 870px;
  right: 5px;
  z-index: 3;
}

.logo-link img:hover {
  transform: scale(1.1); /* Optional: Slight enlarge on hover */
  transition: transform 0.3s ease;
}

.login-title {
  margin-top: 5%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  color: #be171d;
  z-index: 2;
}

form {
  margin-top: 19%;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.login-input {
  margin-bottom: 40px;
  padding: 12px;
  height: 30px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

.login-button {
  margin-top: 5%;
  background-color: #be171d;
  height: 60px;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.5rem;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

.login-button:hover {
  background-color: #be171d;
}
