/* Sidebar container */
.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  width: 278px;
  height: calc(100vh - 60px);
  background-color: #ffffff;
  color: white;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  z-index: 1;
  box-shadow: 3px 0 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

/* Sidebar in collapsed state */
.sidebar.collapsed {
  width: 80px;
}

/* User info section */
.user-info {
  padding: 1.7rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-bottom: 1px solid #000000;
}

/* Profile icon */
.profile-icon {
  height: 3rem;
  width: 3rem;
  background-color: #be171d;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 1rem;
}

.profile-picture {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

/* Welcome text */
.welcome-text {
  font-size: 1.29rem;
  font-weight: bold;
  color: #be171d;
}

.user-email,
.user-role {
  color: #000000;
  font-size: 0.9rem;
}

/* Sidebar links */
.sidebar-links {
  margin-top: 1px; /* Set the gap between user info and first link to 1px */
  display: flex;
  flex-direction: column;
  gap: 1px;
  color: #000;
}

.icon{
  color: #000;
}

.sidebar-links a {
  display: flex;
  align-items: center;
  padding: 15px;
  font-size: 1rem;
  font-weight: 500;
  color: #000; /* Black color for link text */
  text-decoration: none;
  transition: background-color 0.3s ease;
}

/* Hover state for sidebar links */
.sidebar-links a:hover {
  background-color: #be171d;
}

/* Active state for sidebar links */
.sidebar-links a.active {
  background-color: #be171d;
  color: #fff; /* White text when active */
}

/* Subsections (nested links) */
.nested-link {
  padding-left: 40px;
  color: #000; /* Black color for regular subsections */
}

.nested-link.active {
  background-color: #444; /* Slightly different background for active subsection */
  color: #fff; /* White text for active subsection */
}

/* Icon color for subsections */
.subsection-icon {
  color: #000000;
}

.nested-link.active .subsection-icon {
  color: #fff;
}

/* Hover effect for subsections */
.nested-link:hover {
  background-color: #be171d;
  color: #ffffff;
}

.nested-link:hover .subsection-icon {
  color: #ffffff;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .nested-link {
    padding-left: 20px; /* Reduce padding on small screens */
  }
}
