/* Sidebar container */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 255px;
  height: 100vh; /* Adjusted height */
  background-color: transparent;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Allow scrolling within the sidebar */
  z-index: 1;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.8);
  transition: all 0.3s ease;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth; /* Smooth scrolling */
}


body.dark-theme .sidebar {
  color: rgb(255, 255, 255);
  box-shadow: 0 1px 5px rgba(255, 255, 255, 0.8);

}


/* Hide scrollbar for Webkit browsers (Chrome, Safari) */
.sidebar::-webkit-scrollbar {
  display: none;
}

/* User info section */
.user-info {
  padding: 1rem;
  display: flex;
  align-items: center;
  background-color: transparent;
  border-bottom: 1px solid #000000;
  position: relative;
  top: 70px; /* Adjusted to position below the topbar */
}

/* Profile icon */
.profile-icon {
  height: 3rem; /* Adjusted height */
  width: 3rem; /* Adjusted width */
  background-color: #be171d;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.15rem; /* Adjusted font size */
  font-weight: bold;
  margin-right: 0.8rem;
  overflow: hidden; /* Ensure content doesn't overflow */
  border: 2px solid black;
}

body.dark-theme .profile-icon {
  border-color: #ffffff;
  color: rgb(255, 255, 255);
}

/* Profile picture */
.profile-picture {
  width: 50%; /* Make the picture smaller */
  height: 50%; /* Make the picture smaller */
  border-radius: 50%;
  object-fit: cover; /* Maintain aspect ratio */
  border-color: #000;
  object-fit: cover;
  justify-content: center;
}

.body.dark-theme .profile-picture {
  border-color: #ffffff;
}

/* Welcome text */
.welcome-text {
  font-size: 1.1rem;
  font-weight: bold;
  color: #be171d;
}

.user-email {
  color: #000000;
  font-size: 0.8rem;
}

.user-role {
  color: #000000;
  font-size: 0.8rem;
}

body.dark-theme .user-email {
  color: #ffffff;
}

body.dark-theme .user-role {
  color: #ffffff;
  font-size: 0.8rem;
}

/* Sidebar links */
.sidebar-links {
  margin-top: 1px;
  display: flex;
  flex-direction: column;
  gap: 1px;
  color: #000;
  top: 62px;
}

body.dark-theme .sidebar-links {
  color: #ffffff;
}

.icon {
  color: #000;
}

body.dark-theme .icon {
  color: #ffffff;
}

.sidebar-links a {
  display: flex;
  align-items: center;
  padding: 15px;
  font-size: 1rem;
  font-weight: 500;
  color: #000;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

body.dark-theme .sidebar-links a {
  color: #ffffff;
}

/* Hover state for sidebar links */
.sidebar-links a:hover {
  background-color: #be171d;
}

/* Active state for sidebar links */
.sidebar-links a.active {
  background-color: #be171d;
  color: #fff;
}

/* Subsections (nested links) */
.nested-link {
  padding-left: 40px;
  color: #000;
}

.nested-link.active {
  background-color: #444;
  color: #fff;
}

.subsection-icon {
  color: #000;
}

body.dark-theme .subsection-icon {
  color: #ffffff;
}


.nested-link.active .subsection-icon {
  color: #fff;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .nested-link {
    padding-left: 20px;
  }
}
