/* General styling for the form */
.form-container {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.mb-4 {
    margin-bottom: 16px;
}

/* Input fields */
input[type="text"],
input[type="number"],
.form-input {
    margin-right: 8px;
    background-color: white;
    color: black;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Button styles */
button,
.add-button {
    margin-top: 8px;
    background-color: #be171d;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-button:hover {
    background-color: #be171d;
}

/* Checkbox styling */
.form-checkbox {
    margin-top: 10px;
    align-self: center;
}

/* Table container */
.machine-table,
.MuiTableContainer-root {
    padding: 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

/* Table header */
.MuiTableHead-root {
    background-color: #be171d;
    color: white;
}

/* Table cells */
.MuiTableCell-root,
.MuiTableHead-root .MuiTableCell-root,
.MuiTableBody-root .MuiTableCell-root {
    color: #000000;
}

/* Table body */
.MuiTableBody-root {
    background-color: #ffffff;
    color: #000000;
}

/* Hover effect for rows */
.MuiTableRow-root:hover {
    background-color: rgba(255, 0, 0, 0.2);
}

/* Deleted row styling */
.deleted-row {
    background-color: #000000;
    color: white;
}

/* Pagination */
.MuiTablePagination-root {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

/* Button focus styling */
.MuiButton-root:focus {
    outline: none;
    box-shadow: none;
}
