/* Topbar Styling */
.topbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: 65px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
  z-index: 70;
}

body.dark-theme .topbar{
  background-color: rgb(15, 17, 32);
  box-shadow: 0 1px 5px rgba(255, 255, 255, 0.8);
}

.topbar-left .logo {
  height: 50px;
  width: 100px;
}

.topbar-right {
  display: flex;
  align-items: center;
  position: relative;
  right: -20px; /* Adjusted right padding for alignment */
  top: 2px;
}

.topbar .profile-picture {
  width: 37px; /* Reduced width */
  height: 37px; /* Reduced height */
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  margin-left: 25px; /* Increased space between notification icon and profile */
}

.topbar .profile-avatar {
  width: 37px; /* Same size as profile picture */
  height: 37px;
  font-size: 1rem; /* Adjust font size for initials */
  background-color: #be171d; /* Dark red background */
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Adjusted notification icon */
/* Notification icon styling */
.notification-icon {
  color: #000000;
  font-size: 2.5rem; /* Same font size for both themes */
  cursor: pointer;
  position: relative; /* Position relative to handle notification count positioning */
}

body.dark-theme .notification-icon {
  color: #ffffff; /* Keep the color change for dark theme */
  cursor: pointer;
  position: relative; /* Position relative to handle notification count positioning */
}


/* Notification badge close to the icon */
.notification-count {
  background-color: #be171d; /* Dark red for notification count */
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 0.8rem;
  font-weight: bold;
  position: absolute;
  top: -8px; /* Adjusted positioning to get closer to the notification icon */
  right: -8px; /* Closer to the icon */
}

/* Avatar styling for initials when no profile picture */
.profile-avatar {
  width: 35px; /* Same size as profile picture */
  height: 35px;
  font-size: 1.1rem; /* Adjust font size for initials */
  background-color: #be171d; /* Dark red background */
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}